<!DOCTYPE html>
<html><head>

<meta charset="utf-8">
<title>Issac Tomatotan - From beginner to beginner</title>
<meta name="Keywords" content="issac tomatotan, web, mobile, html5, html, css, js, tutorial">
<meta name="Description" content="a www beginner learning in progress">

<!-- Humans -->
<meta name="author" content="Issac Tomatotan">
<meta name="Copyright" content="Issac Tomatotan">

<meta property="og:title" content="Issac Tomatotan - From beginner to beginner">
<meta property="og:image" content="">
<meta property="og:description" content="a www beginner learning in progress">

<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" href="/favicon.ico" type="image/x-icon">
<link href="/img/c.css" rel="stylesheet">

<!--[if lt IE 9]>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>

<body>
  
  <div class="action"><iframe class="actioniframe" src="/act.html"></iframe><div class="logo"></div></div>
  
  <div class="topbar">
    <div>
      <div class="language">
        <a class="select" href="#">EN</a>
        <a href="#">CH</a>
      </div>
      <div class="name">
        <a class="logoback" href="/"></a>
        <div class="nav"><a class="select" href="#">post</a><span></span><a href="#" class="overline">about</a></div>
      </div>
      <div class="description"><h2>From beginner to beginner</h2><a class="availeble" href="#"><span></span>Hire Me!</a></div>
    </div>
  </div>