*{ font-family:Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei", STXihei, STHeiti, Heiti, SimSun, sans-serif;list-style:none;text-decoration:none; }
html,body{ position:relative;width:100%;height:100%;margin:0;padding:0;overflow-x:hidden; }

.action{ position:fixed;left:0;top:0;width:340px;height:100%;background:#0d868d; }
.logo{ position:absolute;left:50%;top:50%;width:160px;height:160px;margin:-80px;background:url(logo.svg) center center no-repeat;background-size:160px; }

.overline{ text-decoration:line-through !important;color:#a7a9ab !important; }

.topbar{ padding:60px 60px 60px 340px; }
.topbar>div{ padding-left:60px; }
.name{ position:relative;width:434px;height:40px;margin-bottom:20px;background:url(name.svg) left top no-repeat; }
.description{ overflow:hidden; }
.description>h2{ float:left;margin:0;color:#58585b;font-size:18px;font-weight:normal; }
.description>a{ float:right; }

.language{ float:right;margin-top:19px; }
.language>a{ display:inline-block;width:40px;height:20px;color:#58585b;font-size:14px;text-align:center;line-height:20px;text-decoration:none; }
.language>.select{ color:#fff;background:#f15e4a; }

.nav{ position:absolute;bottom:-40px;right:0; }
.nav>a,.nav>span{ display:inline-block;margin-left:20px;color:#58585b;font-size:16px;text-decoration:none; }
.nav>span{ width:2px;height:12px;background:#58585b; }
.nav>.select{ color:#f15e4a; }

.availeble>span{ float:left;width:10px;height:10px;margin:4px;border-radius:100%;background:#2ab573; }
.availeble{ margin-top:2px;color:#2ab573;font-size:16px;text-decoration:none; }

.list,.content{ width:680px;padding:0 0 0 340px; }
.list>ul,.content>div{ position:relative;padding:0 0 0 60px;margin:0; }
.list>ul>li{ position:relative;margin-bottom:60px; }
.list>ul>li>a>div{ position:relative; }

.title{ margin:0 0 14px 0;text-decoration:none;color:#808284;font-size:28px;font-weight:bold; }
.date,.contentinner>p,.paragraph{ width:auto;color:#a7a9ab;font-size:16px; }
.list .date{ position:absolute;left:0;top:0;line-height:24px; }
.content .date{ padding-left:60px; }
.contentinner>p,.paragraph{ line-height:24px; }
.list .paragraph{ padding-left:120px; }
.contentinner>p{ padding-left:60px; }

.contentinner b{ padding:2px 6px;border-radius:4px;color:#fff;background:#f15e4a; }
.contentinner pre{ width:auto;margin:0;padding:10px 15px;margin-left:60px;border:1px solid #939597;border-radius:5px;color:#6d6e70;background:#e6e7e8; }



@media screen and (max-width: 1100px){
  
  .action{ position:relative;width:100%;height:250px; }
  .topbar{ width:680px;padding:60px 0;margin:0 auto; }
  .topbar>div{ padding:0; }
  .list,.content{ padding:0 0 60px 0;margin:0 auto; }
  
}

@media screen and (max-width: 800px){
  
  .topbar{ width:auto;padding:60px 0; }
  .topbar>div{ position:relative;width:434px;margin:0 auto; }
  .name{ margin-top:20px; }
  .language{ float:none;position:absolute;right:0;top:-50px;margin:0; }
  .description>a,.description>h2{ float:none; }
  .description>a{ position:absolute;top:-50px; }
  .description>a>span{ margin-left:0; }
  .list,.content{ width:auto;max-width:434px; }
  .list>ul,.content>div{ padding:0; }
  .content .date,.contentinner>p{ padding-left:0; }
  .contentinner pre{ margin-left:0; }
  .list .paragraph{ padding:35px 0 0 0; }
  
}

@media screen and (max-width: 512px){
  
  .topbar{ padding:60px 10px; }
  .topbar>div{ width:auto; }
  .name{ width:100%;margin-bottom:5px;background-size:100%; }
  .nav{ bottom:-60px;right:auto;left:-20px; }
  .list,.content{ padding:30px 10px 60px; }
  
}





